<td class="align-middle">{{point.name}}</td>
<td class="align-middle">{{point.roomNumber}}</td>
<td class="fit text-center align-middle">
            <span *ngIf="isAdmin"
                  class="glyphicon cursor-pointer"
                  [ngClass]="{
                    'glyphicon-ok': point.write,
                    'glyphicon-minus': !point.write
                  }"
                  aria-hidden="true"
                  (click)="point.write = !point.write"></span>
  <span *ngIf="!isAdmin"
        class="glyphicon"
        [ngClass]="{
                    'glyphicon-ok': point.write,
                    'glyphicon-minus': !point.write
                  }"
        aria-hidden="true"></span>
</td>
<td class="fit text-center align-middle">
  <select *ngIf="point.write && !isZReport(point.checkType)"
          class="form-control input-sm"
          name="input-type"
          title="Метод ввода"
          [(ngModel)]="point.inputType"
          [disabled]="!isAdmin">
    <option *ngFor="let inputType of inputTypes"
            [ngValue]="inputType">{{inputType | userInputType}}
    </option>
  </select>
  <span *ngIf="!point.write || isZReport(point.checkType)">-</span>
</td>
<td *ngIf="isAdmin" class="fit">
  <button class="btn btn-default" (click)="deletePoint.emit(point)">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </button>
</td>
