<div class="container">
  <div class="row">
    <div class="col-xs-offset-6 col-xs-6 date">
      С
      <red-date-picker [(ngModel)]="startDate"></red-date-picker>
      По
      <red-date-picker [(ngModel)]="endDate"></red-date-picker>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Дата</th>
      <th>Время</th>
      <th>Действие</th>
      <th>Пользователь</th>
      <th>Заведение</th>
      <th>Дополнительно</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>
        <select id="action"
                title="Действие"
                class="form-control input-sm"
                [(ngModel)]="action">
          <option value="-1" selected>Все действия</option>
          <option *ngFor="let action of actions"
                  [ngValue]="action">{{action | logAction}}
          </option>
        </select>
      </th>
      <th>
        <input class="form-control input-sm"
               type="text"
               placeholder="Имя или ID"
               title="Имя или ID"
               [(ngModel)]="userName">
      </th>
      <th>
        <input class="form-control input-sm"
               type="text"
               placeholder="Имя, номер, идентификатор или ID"
               title="Имя, номер, идентификатор или ID"
               [(ngModel)]="pointName">
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngIf="logs">
    <tr *ngFor="let log of logs">
      <td>{{log.date | date: 'shortDate'}}</td>
      <td>{{log.date | date: 'mediumTime'}}</td>
      <td>{{log.action | logAction}}</td>
      <td>
        <span *ngIf="log.user">ID{{log.user.id}}: {{log.user.name}}</span>
        <span *ngIf="!log.user">-</span>
      </td>
      <td>
        <span *ngIf="log.point">ID{{log.point.id}}: {{log.point.name}}</span>
        <span *ngIf="!log.point">-</span>
      </td>
      <td>
        <div class="accordion-heading">
          <a class="accordion-toggle btn btn-mini btn-default"
             data-toggle="collapse"
             data-parent="#accordion2"
             href="#collapseOne-{{log.id}}">Мета</a>
        </div>
        <div id="collapseOne-{{log.id}}" class="accordion-body collapse">
          <div class="accordion-toggle">
            <pre>{{log.meta | json}}</pre>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="logs.length==0">
      <td colspan="6">
        <h5 class="text-center">Логов не найдено</h5>
      </td>
    </tr>
    </tbody>
  </table>
</div>
