<div *ngIf="user && point" class="container">
  <div class="row date-title-header">
    <div class="col-xs-4 col-xs-offset-8">
      <div class="row">
        <div class="col-xs-12 date">
          Дата:
          <red-date-picker [(ngModel)]="date"></red-date-picker>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="col-xs-12 table table-striped table-bordered text-center">
      <thead>
      <tr>
        <th class="text-center">День недели</th>
        <th class="text-center">Дата</th>
        <th class="text-center">Сумма (<span [innerHTML]="point.currency | pointCurrency"></span>)</th>
        <th class="text-center">Количество чеков</th>
        <th class="text-center">Статус</th>
        <th class="text-center"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let report of sortedReports; let i=index"
          [ngClass]="{
            'warning': isDayAfterToday(report.date),
            'danger': report.isValid,
            'success': !report.isValid || report.isSaved
          }"
          app-z-report-list-item
          [report]="report"
          [isDayAfterToday]="isDayAfterToday(report.date)"
          [dayStatuses]="dayStatuses"
          (save)="save($event)"></tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-xs-1 col-xs-offset-2 text-center">ИТОГО:</div>
    <div class="col-xs-2 text-center"></div>
    <div class="col-xs-1 text-center">Чеков</div>
    <div class="col-xs-6 text-left">Сумма</div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-3 text-left">Продажа</div>
    <div class="col-xs-1 text-center">{{checksSum}}</div>
    <div class="col-xs-6 text-left">
      {{sum}}
      <span [innerHTML]="point.currency | pointCurrency"></span>
    </div>
  </div>
  <app-sale-page-footer [startDate]="startDate" [endDate]="endDate" (save)="save()"></app-sale-page-footer>
</div>
