<div *ngIf="user && point" class="container">
  <app-sale-header [date]="date"
                   (date)="date=$event"
                   [day]="day"
                   [dayStatuses]="dayStatuses"
                   [user]="user"
                   [importType]="importType"
                   [templateEXCELUrl]="templateEXCELUrl"
                   [checksSum]="checksSum"
                   [pointCurrency]="point.currency"
                   [sum]="sum"
                   [checksSumOfReturns]="checksSumOfReturns"
                   [sumOfReturns]="sumOfReturns"
                   [startDate]="startDate"
                   [endDate]="endDate"
                   [pointId]="point.point"
                   [write]="point.write"
                   [isHandleEnabled]="point.isHandleEnabled"
                   [isUploadEnabled]="point.isUploadEnabled"
                   [isBlocked]="point.isBlocked"
                   [hasUnsaved]="hasUnsaved"
                   (onUploadSuccess)="onUploadSuccess($event)"
                   (save)="lock()"
                   (upload)="upload()"
                   (unlock)="unlock()"></app-sale-header>
  <div class="row">
    <div class="panel-heading" *ngIf="!dayClosed && point.write && !point.isBlocked">
      <button
        *ngIf="point.isHandleEnabled"
        class="btn btn-default btn-sm"
        (click)="add()">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Добавить чек
      </button>
      <button class="btn btn-default btn-sm" (click)="purge()">
        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Очистить данные за день
      </button>
    </div>
    <div class="col-xs-12">
      <table *ngIf="isFull && (!point.isBlocked || sales && sales.length > 0)"
             class="table table-striped table-bordered">
        <thead>
        <tr>
          <th class="text-center till">Касса</th>
          <th class="text-center number">Номер чека</th>
          <th class="text-center time">Время</th>
          <th class="text-center sum">Сумма чека</th>
          <th class="text-center status">Тип операции</th>
          <th class="text-center actions"></th>
        </tr>
        </thead>
        <tbody *ngFor="let sale of sortedSales; let i=index"
               [ngClass]="{'return': sale.isReturn, 'saved': sale.isSaved}"
               app-full-list-item
               [sale]="sale"
               [id]="(sortedSales.length - i)"
               [dayClosed]="dayClosed"
               [currency]="point.currency"
               [write]="point.write"
               (toggleVisibility)="toggleVisibility(sale)"
               (removeItem)="removeItem(sale, $event)"
               (deleteSale)="delete(sale)">
        </tbody>
      </table>
      <table *ngIf="!isFull && (!point.isBlocked || sales && sales.length > 0)"
             class="table table-striped table-bordered">
        <thead>
        <tr>
          <th class="text-center till">Касса</th>
          <th class="text-center number">Номер чека</th>
          <th class="text-center time">Время</th>
          <th class="text-center sum">Сумма чека</th>
          <th class="text-center status">Тип операции</th>
          <th class="text-center actions"></th>
        </tr>
        </thead>
        <tbody *ngFor="let sale of sortedSales; let i=index"
               [ngClass]="{'return': sale.isReturn, 'saved': sale.isSaved}"
               app-short-list-item
               [sale]="sale"
               [id]="(sortedSales.length - i)"
               [dayClosed]="dayClosed"
               [currency]="point.currency"
               [write]="point.write"
               (deleteSale)="delete(sale)">
        </tbody>
      </table>

      <h5 *ngIf="!point.isBlocked && sales && sales.length == 0" class="text-center">Данных нет</h5>
      <h5 *ngIf="point.isBlocked && sales && sales.length == 0" class="text-center">Точка заблокированна</h5>
    </div>
  </div>
</div>
