.cursor-pointer {
  cursor: pointer;
}

tr > td {
  vertical-align: top;
}

.warp {
  width: 0;
  white-space: nowrap;
}

.till {
  min-width: 80px;
}

.number {
  min-width: 80px;
}

.time {
  width: 120px;
}

.sum {
  min-width: 80px;
}

.status {
  min-width: 130px;
}

.article {
  width: 15%;
}

.name {
  width: 30%;
}

.price {
  width: 15%;
}

.amount {
  width: 10%;
}

.discount {
  width: 15%;
}

.actions {
  width: auto;
}

.return.saved {
  .sum,
  .discount {
    &:before {
      content: '-';
    }
  }
}
