<nav *ngIf="!inLoading || (user && point)" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" style="padding-left: 10px">
      <button
        class="pull-left navbar-toggle collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div *ngIf="user && point" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/']">Главная</a>
      </div>
      <ul *ngIf="user.points.length > 1" class="nav navbar-nav">
        <li class="dropdown">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown"
             role="button"
             aria-haspopup="true"
             aria-expanded="false">
            {{user.name}} -- "{{point.name}}", {{point.roomNumber}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let point of user.points" class="point">
              <a [routerLink]="[point | editorUri, timestamp]" (click)="changePoint(point)">{{point.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <div *ngIf="user.points.length === 1" class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="navbar-text">{{user.name}} -- "{{point.name}}", {{point.roomNumber}}</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="user.isAdmin" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">{{user.email}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/users']">Пользователи</a></li>
            <li><a [routerLink]="['/groups']">Группы пользователей</a></li>
            <li><a [routerLink]="['/points']">Объекты</a></li>
            <li><a [routerLink]="['/sales']">Продажи</a></li>
            <li *ngIf="user.isGod"><a [routerLink]="['/log']">Лог действий</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0)" (click)="deAuth()">Выход</a></li>
      </ul>
    </div>
  </div>
</nav>
