<app-download-modal *ngIf="type && day"
                    [type]="type"
                    [pointId]="pointId"
                    [startDate]="startDate"
                    [endDate]="endDate"></app-download-modal>
<button *ngIf="day && !day.closed && isHandleEnabled && write && !isBlocked"
        class="btn btn-success btn-sm"
        tooltip
        data-placement="top"
        title="Сохранить"
        (click)="upload.emit()">
  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
</button>
<button *ngIf="day && !day.closed && (write || isAdmin) && !isBlocked"
        class="btn btn-warning btn-sm"
        data-toggle="modal"
        tooltip
        data-placement="top"
        title="Закрыть день"
        [disabled]="hasUnsaved"
        data-target="#saveModal">
  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
</button>
<button *ngIf="day && day.closed && isAdmin && !isBlocked"
        class="btn btn-primary btn-sm"
        data-toggle="modal"
        tooltip
        data-placement="top"
        title="Открыть день"
        (click)="unlock.emit()">
  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
</button>
<span *ngIf="day && day.closed && !isAdmin && !isBlocked"
      class="btn btn-primary btn-sm"
      tooltip
      data-placement="top"
      title="День закрыт"
      disabled>
  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
</span>
<a class="btn btn-default btn-sm" (click)="goBack()">Назад</a>

<div *ngIf="day && !day.closed && write && !isBlocked"
     class="modal fade"
     #saveModal
     id="saveModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="saveModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="saveModalLabel">Сохранение</h4>
      </div>
      <div class="modal-body">
        <label *ngIf="day.isStatusNoData || day.isStatusClosed || day.isStatusNoSale">
          <span>Выберите статус дня</span>
          <select class="form-control input-sm"
                  title="Статус дня"
                  name="dayStatus"
                  [(ngModel)]="day.status">
            <option *ngFor="let dayStatus of dayStatuses"
                    [ngValue]="dayStatus">
              {{dayStatus | dayStatus}}
            </option>
          </select>
        </label>
        <strong *ngIf="day.isStatusSale">{{day.status | dayStatus}}</strong>
        <p>Сохранить изменения? Данные невозможно будет изменить без участия администратора.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" (click)="onSave()">Сохранить</button>
      </div>
    </div>
  </div>
</div>
