<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th data-field="id">Id</th>
          <th data-field="name">Название группы</th>
          <th data-field="owner">Создатель</th>
          <th data-field="actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let group of groups">
          <td data-field="id">{{group.id}}</td>
          <td data-field="name">{{group.name}}</td>
          <td data-field="owner">{{group.owner_name}}</td>
          <td data-field="actions">
            <a class="btn btn-default" role="button" [routerLink]="['/groups/edit', group.id]">Изменить</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12">
      <a class="btn btn-primary" [routerLink]="['/groups/edit']">Создать группу</a>
    </div>
  </div>
</div>
