<table class="table table-bordered legend">
  <tr>
    <th class="sale"></th>
    <th>Данные продаж введены</th>
  </tr>
  <tr>
    <th class="no-sale"></th>
    <th>Нет продаж</th>
  </tr>
  <tr>
    <th class="closed"></th>
    <th>Временно закрыт, тех. работы</th>
  </tr>
  <tr>
    <th class="no-data"></th>
    <th>Нет данных</th>
  </tr>
  <tr>
    <th class="blocked"></th>
    <th>Объект заблокирован</th>
  </tr>
</table>
