<div *ngIf="user && currentUser" class="panel panel-default user-edit-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Карточка пользователя</h3>
  </div>
  <div class="panel-body">
    <form #userForm="ngForm" (submit)="onSubmit()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input id="email"
               class="form-control"
               type="email"
               name="email"
               required
               [disabled]="!currentUser.isAdmin"
               [(ngModel)]="user.email">
      </div>
      <div class="form-group">
        <label for="name">Имя</label>
        <input id="name"
               class="form-control"
               type="text"
               name="name"
               required
               [disabled]="!currentUser.isAdmin"
               [(ngModel)]="user.name">
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input id="password"
               class="form-control"
               type="password"
               name="password"
               #password
               placeholder="***"
               [(ngModel)]="user.password">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"
                  (click)="password.type=(password.type==='password'?'text':'password')"
                  [disabled]="password.value.length == 0">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>
          <button class="btn btn-default" type="button" (click)="generatePassword(); password.type='text'">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
          </button>
        </span>
      </div>
      <div class="form-group">
        <label for="role">Роль</label>
        <select id="role"
                class="form-control"
                name="role"
                required
                [(ngModel)]="user.role"
                [disabled]="!currentUser.isAdmin">
          <option *ngFor="let role of roles"
                  [ngValue]="role">{{role | userRole}}
          </option>
        </select>
      </div>
      <div *ngIf="userId" class="form-group">
        <label for="status">Статус</label>
        <select id="status"
                class="form-control"
                name="status"
                required
                [(ngModel)]="user.status"
                [disabled]="!currentUser.isAdmin">
          <option *ngFor="let status of statuses"
                  [disabled]="isNewUserStatus(status)"
                  [ngValue]="status">{{status | userStatus}}
          </option>
        </select>
      </div>
      <div *ngIf="currentUser.isAdmin" class="form-group">
        <label for="group">Группа</label>
        <input id="group"
               class="form-control"
               type="text"
               name="group"
               required
               [(ngModel)]="user.group.name"
               disabled>
      </div>
      <div *ngIf="currentUser.isAdmin" class="form-group points-search">
        <table *ngIf="points" class="table table-bordered table-hover cursor-pointer">
          <tbody>
          <tr *ngFor="let point of searchPoint">
            <td data-field="name" (click)="addPoint(point)">{{point.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <table class="table table-bordered table-striped table-responsive">
        <thead>
        <tr>
          <th>Наименование</th>
          <th>Номер помещения</th>
          <th class="fit text-center">Запись</th>
          <th class="fit text-center">Метод ввода</th>
          <th *ngIf="currentUser.isAdmin" class="fit"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let point of user.points" app-user-point
            [point]="point"
            [isAdmin]="currentUser.isAdmin"
            (deletePoint)="deletePoint($event)"></tr>
        </tbody>
      </table>
      <button class="btn btn-primary"
              type="submit"
              [disabled]="inLoading">
        <i class="fa fa-spinner fa-spin"></i>
        <span *ngIf="userId">Сохранить</span>
        <span *ngIf="!userId">Создать</span>
      </button>
      <button *ngIf="user && user.canBeDelete && user.id != currentUser.id && userId"
              (click)="deleteUser()"
              type="button"
              class="btn btn-danger">
        <i class="fa fa-spinner fa-spin"></i> Удалить
      </button>

      <a class="btn btn-default pull-right" (click)="goBack()">Назад</a>
    </form>
  </div>
</div>
