<div *ngIf="users" class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th data-field="name">Имя</th>
          <th data-field="email">E-mail</th>
          <th data-field="role">Роль</th>
          <th data-field="status">Статус</th>
          <th data-field="actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td data-field="name">{{user.name}}</td>
          <td data-field="email">{{user.email}}</td>
          <td data-field="role">{{user.role | userRole}}</td>
          <td data-field="status">{{user.status | userStatus}}</td>
          <td data-field="actions">
            <a class="btn btn-default" role="button" [routerLink]="['/users/edit', user.id]">Изменить</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12">
      <a class="btn btn-primary" [routerLink]="['/users/edit']">Создать пользователя</a>
    </div>
  </div>
</div>
