<div *ngIf="user" class="container">
  <div class="row" *ngIf="!user.isAdmin">
    <div class="col-sm-4">
      <a [routerLink]="point | editorUri: timestamp">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Продажи</h3>
          </div>
          <div class="panel-body">
            Ввод продаж
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a [routerLink]="['/sales']">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Календарь</h3>
          </div>
          <div class="panel-body">
            История заполения отчетности
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a [routerLink]="['/users/edit', user.id]">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Настройки</h3>
          </div>
          <div class="panel-body">
            Настройки пользователя
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row" *ngIf="user.isAdmin">
    <div class="col-sm-6">
      <a [routerLink]="['/users']">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Список пользователей</h3>
          </div>
          <div class="panel-body">
            Перечень пользователей администратора
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6">
      <a [routerLink]="['/points']">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Список объектов</h3>
          </div>
          <div class="panel-body">
            Перечень торговых помещений администратора
          </div>
        </div>
      </a>
    </div>
    <!--<div class="col-sm-4">-->
    <!--<a [routerLink]="['/groups']">-->
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading">-->
    <!--<h3 class="panel-title">Список групп</h3>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
    <!--Список групп пользователей администратора-->
    <!--</div>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <div class="col-sm-6">
      <a [routerLink]="['/sales']">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Календарь</h3>
          </div>
          <div class="panel-body">
            История заполения отчетностей
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6">
      <a [routerLink]="['/users/edit', user.id]">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Настройки</h3>
          </div>
          <div class="panel-body">
            Настройки пользователя
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<app-god-settings *ngIf="user && user.isGod"></app-god-settings>
