@import "day-status-color";

.no-data {
  background: $no-data;
  &:hover {
    background: $no-data-hover;
  }
}

.sale {
  background: $sale;
  &:hover {
    background: $sale-hover;
  }
}

.no-sale {
  background: $no-sale;
  &:hover {
    background: $no-sale-hover;
  }
  &:before {
    content: '0';
  }
}

.closed {
  background: $closed;
  &:hover {
    background: $closed-hover;
  }
}

.blocked {
  background: $blocked;
  &:hover {
    background: $blocked-hover;
  }
  &:before {
    content: 'X';
  }
}

.no-sale:before,
.blocked:before {
  display: block;
  height: 26px;
  width: 100%;
  position: absolute;
}
