$no-data: red;
$no-data-hover: darkred;

$sale: green;
$sale-hover: darkgreen;

$no-sale: green;
$no-sale-hover: darkgreen;

$closed: slategray;
$closed-hover: gray;

$blocked: slategray;
$blocked-hover: gray;
