<button
  type="button"
  class="btn btn-default btn-sm"
  data-toggle="modal"
  data-target="#upload-modal"
  tooltip
  data-placement="top"
  title="Загрузить из файла">
  <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
</button>

<div #modal class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content"
         ngFileDrop
         [options]="options"
         (onUpload)="handleUpload($event)"
         (onFileOver)="fileOverBase($event)"
         (beforeUpload)="beforeUploadF($event)">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="upload-modal-label">Загрузка данных из файла</h4>
      </div>
      <div class="modal-body">
        <label *ngIf="!inProgress"
               class="well well-lg text-center upload-panel cursor-pointer"
               for="file"
               [ngClass]="{'file-over': hasBaseDropZoneOver}">
          <span *ngIf="!success && !error"
                class="text-primary"
                [ngClass]="{'text-info': hasBaseDropZoneOver}">Перетащите файл сюда или нажмите для выбора</span>
          <span *ngIf="success" class="text-success">
            {{success}}
            (<span *ngFor="let date of dates"> {{date | date:'dd.MM'}} </span>)
            <br>
          </span>
          <span *ngIf="error" class="text-danger">{{error}}<br></span>

          <span *ngFor="let errorDate of errorDates" class="text-danger">
            {{errorDate.error}}
            (<span *ngFor="let date of errorDate.dates"> {{date | date:'dd.MM'}} </span>)
            <br>
          </span>
        </label>
        <input type="file"
               id="file"
               ngFileSelect
               [options]="options"
               (onUpload)="handleUpload($event)"
               (beforeUpload)="beforeUploadF($event)"
               style="display: none">

        <div *ngIf="inProgress" class="progress">
          <div #progressBar
               class="progress-bar progress-bar-striped active"
               role="progressbar"
               aria-valuenow="100"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 100%">
            <span [ngClass]="{'hide':turnSize == 0 || turnStep == turnSize}">
              Обработка пакета {{turnStep + 1}} из {{turnSize}}
            </span>
            <span [ngClass]="{'hide':turnStep != turnSize || turnSize == 0}">
              Обработка данных
            </span>
            <span [ngClass]="{'hide':turnSize > 0}">Проверка файла</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default btn-sm pull-left" [href]="templateEXCELUrl" target="_blank">Скачать шаблон файла</a>
        <button class="btn btn-default btn-sm pull-right"
                type="button"
                data-dismiss="modal">
          <span *ngIf="!inProgress">Ок</span>
          <span *ngIf="inProgress">Отмена</span>
        </button>
      </div>
    </div>
  </div>
</div>
