<tr *ngIf="!sale.isSaved">
  <td class="till">
    <input id="till-{{id}}"
           class="form-control input-sm"
           type="text"
           name="till-{{id}}"
           title="Касса"
           [(ngModel)]="sale.till">
  </td>
  <td class="number">
    <input id="number-{{id}}"
           class="form-control input-sm"
           type="text"
           name="number-{{id}}"
           title="Номер"
           [(ngModel)]="sale.number">
  </td>
  <td class="time">
    <red-time-picker [(ngModel)]="sale.date"></red-time-picker>
  </td>
  <td class="sum">{{sale.sum}}</td>
  <td class="status">
    <select
      id="status-{{id}}"
      class="form-control input-sm status"
      name="status-{{id}}"
      title="Статус"
      [(ngModel)]="sale.operationType">
      <option *ngFor="let operationType of operationTypes"
              [ngValue]="operationType">{{operationType | saleOperationType}}
      </option>
    </select>
  </td>
  <td *ngIf="write && !dayClosed" class="actions text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <button class="btn btn-default" (click)="toggleVisibility.emit()">
          <i class="glyphicon"
             [ngClass]="{'glyphicon-eye-close': sale.isOpen, 'glyphicon-eye-open': !sale.isOpen}"></i>
        </button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <button class="btn btn-default" (click)="deleteSale.emit()">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </div>
    </div>
  </td>
</tr>
<tr *ngIf="sale.isSaved">
  <td class="till">{{sale.till}}</td>
  <td class="number">{{sale.number}}</td>
  <td class="time">{{sale.date | date:'jm'}}</td>
  <td class="sum">{{sale.sum}} <span [innerHTML]="currency | pointCurrency"></span></td>
  <td class="status">{{sale.operationType | saleOperationType}}</td>
  <td class="actions">
    <div class="row">
      <div [ngClass]="{'col-xs-6': !dayClosed, 'col-xs-12': dayClosed}">
        <button class="btn btn-default" (click)="sale.isOpen=!sale.isOpen">
          <i class="glyphicon"
             [ngClass]="{'glyphicon-eye-close': sale.isOpen, 'glyphicon-eye-open': !sale.isOpen}"></i>
        </button>
      </div>
      <div *ngIf="write && !dayClosed" class="col-xs-6">
        <button class="btn btn-default" (click)="deleteSale.emit()">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </div>
    </div>
  </td>
</tr>
<tr *ngIf="sale.isOpen" style="background: #f3f3f3">
  <td colspan="8">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th class="text-center">№</th>
        <th class="text-center">Артикул</th>
        <th class="text-center">Наименование</th>
        <th class="text-center">Цена</th>
        <th class="text-center">Количество</th>
        <th class="text-center">Со скидкой</th>
        <th *ngIf="!sale.isSaved" class="text-center">Действия</th>
      </tr>
      </thead>
      <tbody *ngIf="!sale.isSaved">
      <tr *ngFor="let item of sale.items; let j=index">
        <td class="id">{{j + 1}}</td>
        <td class="article">
          <input id="code-{{id}}-{{j}}"
                 class="form-control input-sm"
                 type="text"
                 name="code-{{id}}-{{j}}"
                 title="Артикл"
                 [(ngModel)]="item.article">
        </td>
        <td class="name">
          <input id="name-{{id}}-{{j}}"
                 class="form-control input-sm"
                 type="text"
                 name="name-{{id}}-{{j}}"
                 title="Наименование"
                 [(ngModel)]="item.name">
        </td>
        <td class="price">
          <input id="price-{{id}}-{{j}}"
                 class="form-control input-sm"
                 type="number"
                 name="price-{{id}}-{{j}}"
                 title="Цена"
                 appInputNumber
                 [(ngModel)]="item.price">
        </td>
        <td class="amount">
          <input id="quantity-{{id}}-{{j}}"
                 class="form-control input-sm"
                 type="number"
                 name="quantity-{{id}}-{{j}}"
                 title="Количество"
                 appInputNumber
                 [(ngModel)]="item.amount">
        </td>
        <td class="discount">
          <input id="discount-{{id}}-{{j}}"
                 class="form-control input-sm"
                 type="text"
                 name="discount-{{id}}-{{j}}"
                 title="Цена со скидкой"
                 appInputNumber
                 [(ngModel)]="item.discount">
        </td>
        <td class="actions text-center">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <button class="btn btn-default" (click)="sale.addItem()">
                <i class="glyphicon glyphicon-plus-sign"></i>
              </button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <button class="btn btn-default" (click)="removeItem.emit(item)">
                <i class="glyphicon glyphicon-minus-sign"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="sale.isSaved">
      <tr *ngFor="let item of sale.items; let j=index">
        <td class="id">{{j + 1}}</td>
        <td class="article">{{item.article}}</td>
        <td class="name">{{item.name}}</td>
        <td class="price">{{item.price}} <span [innerHTML]="currency | pointCurrency"></span></td>
        <td class="amount">{{item.amount}}</td>
        <td class="discount">{{item.discount}} <span [innerHTML]="currency | pointCurrency"></span></td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
