<div class="panel panel-default" style="margin-left: 20px; margin-right: 20px">
  <div class="panel-heading">
    <h3 class="panel-title">Данные группы</h3>
  </div>
  <div class="panel-body">
    <form *ngIf="group" #groupForm="ngForm" (submit)="onSubmit()">
      <div class="form-group">
        <label for="name">Имя</label>
        <input id="name"
               class="form-control"
               type="text"
               name="name"
               [(ngModel)]="group.name">
      </div>

      <a class="btn btn-default" [routerLink]="['/groups']">Отмена</a>
      <button *ngIf="groupId" type="submit" [disabled]="inProgress" class="btn btn-primary">Сохранить</button>
      <button *ngIf="!groupId" type="submit" [disabled]="inProgress" class="btn btn-primary">Создать</button>
      <span *ngIf="error" class="label label-danger">Danger</span>
    </form>
  </div>
</div>
