<div class="container">
  <div class="row date-title-header">
    <div class="col-xs-4">
      <button class="btn btn-default" (click)="updateDate(-7)">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      </button>
      <span>{{date | date:'dd.MM'}}</span>
      <button class="btn btn-default" [ngClass]="{'hide': !hasNext}" (click)="updateDate(7)">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      </button>
    </div>
    <div class="col-xs-4 col-xs-offset-4 date">
      Дата:
      <red-date-picker [(ngModel)]="date"></red-date-picker>
    </div>
    <div class="col-xs-12">
      <table class="table table-bordered">
        <thead *ngIf="digests">
        <tr>
          <th></th>
          <th *ngFor="let day of days" class="text-center">{{day | date:'dd.MM'}}
          </th>
        </tr>
        <tr>
          <th class="text-center">Объект</th>
          <th *ngFor="let day of days" class="text-center">{{day | date: 'EEE'}}
          </th>
        </tr>
        </thead>
        <tbody *ngFor="let pointDigest of digests"
               app-sale-list-item
               [pointDigest]="pointDigest"
               [currentDate]="currentDate"></tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <app-sale-color-legend></app-sale-color-legend>
    </div>
  </div>
  <a class="btn btn-default pull-right" (click)="goBack()">Назад</a>
</div>
