table {
  thead {
    tr {
      th {
        padding: 3px 6px;
      }
      td {
        padding: 0;
        position: relative;
        a.cell {
          display: block;
          padding: 3px 0;
          color: #333;
        }
        &.no-sale,
        &.sale,
        &.closed,
        &.blocked {
          a.cell {
            height: 100%;
            padding: 0;
            display: block;
            width: 100%;
            position: absolute;
          }
        }
      }
      th, td {
        &:nth-child(7n),
        &:nth-child(7n+1) {
          background: rgba(55, 140, 0, 0.5);
        }
        &:first-child {
          background: inherit;
        }
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 15px;
      }
    }
  }
}

.date-title-header {
  .date, .day-status {
    display: flex;
    line-height: 35px;
    red-date-picker, select {
      margin-left: 10px;
    }
  }
}
