<div class="panel panel-default point-edit-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Карточка объекта</h3>
  </div>
  <div class="panel-body">
    <form *ngIf="point" (submit)="onSubmit()">
      <div class="form-group">
        <label for="name">Наименование</label>
        <input id="name"
               class="form-control"
               type="text"
               name="name"
               [(ngModel)]="point.name">
      </div>
      <div class="form-group">
        <label for="roomNumber">Номер помещения</label>
        <input id="roomNumber"
               class="form-control"
               type="text"
               name="roomNumber"
               [(ngModel)]="point.roomNumber">
      </div>
      <div class="form-group">
        <label for="identifier">Идентификатор</label>
        <input id="identifier"
               class="form-control"
               type="text"
               name="identifier"
               [(ngModel)]="point.identifier">
      </div>
      <div class="form-group">
        <label for="status">Статус</label>
        <select id="status"
                class="form-control"
                name="status"
                [(ngModel)]="point.status">
          <option *ngFor="let status of pointStatuses"
                  [disabled]="isNotNewPointStatus(status)"
                  [ngValue]="status">{{status | pointStatus}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="currency">Валюта</label>
        <select id="currency"
                class="form-control"
                name="currency"
                [(ngModel)]="point.currency">
          <option *ngFor="let currency of pointCurrencies"
                  [ngValue]="currency">{{currency | pointCurrency: 'name'}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="check">Тип чека</label>
        <select id="check"
                class="form-control"
                name="check"
                [(ngModel)]="point.checkType">
          <option *ngFor="let pointCheckType of pointCheckTypes"
                  [ngValue]="pointCheckType">{{pointCheckType | checkType}}
          </option>
        </select>
      </div>

      <button class="btn btn-primary"
              type="submit"
              [disabled]="inLoading">
        <i class="fa fa-spinner fa-spin"></i>
        <span *ngIf="pointId">Сохранить</span>
        <span *ngIf="!pointId">Создать</span>
      </button>
      <button *ngIf="point && point.canBeDelete && pointId"
              (click)="deletePoint()"
              type="button"
              class="btn btn-danger">
        <i class="fa fa-spinner fa-spin"></i> Удалить
      </button>

      <a class="btn btn-default pull-right" (click)="goBack()">Назад</a>
    </form>
  </div>
</div>



