<div class="row panel date-title-header">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-8">
        <div class="row">
          <div class="col-xs-12 date">
            Дата:
            <red-date-picker [(ngModel)]="date"></red-date-picker>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="day && dayStatuses" class="col-xs-4 col-xs-offset-8 day-status">
        Статус:
        <span *ngIf="day && (day.closed || day.isStatusSale)">{{day.status | dayStatus}}</span>
        <span *ngIf="day && !day.closed && !day.isStatusSale">День открыт</span>
      </div>
    </div>
  </div>
</div>
<div class="row panel fixed-bottom">
  <div class="col-xs-12">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-lg-offset-3 col-md-1 col-md-offset-3 col-sm-1 col-sm-offset-1 col-xs-1">
          <app-upload-modal *ngIf="day && isUploadEnabled && write && !isBlocked"
                            [pointId]="pointId"
                            [templateEXCELUrl]="templateEXCELUrl"
                            (onSuccess)="onUploadSuccess.emit()"></app-upload-modal>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
          <div class="row">
            <div class="col-xs-offset-6 col-xs-3 text-center">Чеков</div>
            <div class="col-xs-3">Сумма</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Итого:</div>
            <div class="col-xs-3">Продаж</div>
            <div class="col-xs-3 text-center">{{checksSum}}</div>
            <div class="col-xs-3">{{sum}} <span [innerHTML]="pointCurrency | pointCurrency"></span></div>
          </div>
          <div class="row">
            <div class="col-xs-offset-3 col-xs-3">Возвратов</div>
            <div class="col-xs-3 text-center">{{checksSumOfReturns}}</div>
            <div class="col-xs-3"><span *ngIf="sumOfReturns > 0">-</span>{{sumOfReturns}} <span
              [innerHTML]="pointCurrency | pointCurrency"></span></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
          <app-sale-page-footer
            class="pull-right"
            [day]="day"
            [dayStatuses]="dayStatuses"
            [type]="importType"
            [startDate]="startDate"
            [endDate]="endDate"
            [pointId]="pointId"
            [isAdmin]="user.isAdmin"
            [write]="write"
            [isHandleEnabled]="isHandleEnabled"
            [isBlocked]="isBlocked"
            [hasUnsaved]="hasUnsaved"
            (unlock)="unlock.emit()"
            (save)="save.emit()"
            (upload)="upload.emit()"></app-sale-page-footer>
        </div>
      </div>
    </div>
  </div>
</div>
