<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!--Alert-->
<div class="modal fade" #alertModal id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="alertModalLabel">{{modalTitle}}</h4>
      </div>
      <div class="modal-body">{{modalContent}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

<!--Loading-->
<div #loadingModal
     class="modal"
     id="loadingModal"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="cssload-cssload-wrap2">
          <div class="cssload-wrap">
            <div class="cssload-overlay"></div>

            <div class="cssload-cogWheel cssload-one">
              <div class="cssload-cog cssload-one"></div>
              <div class="cssload-cog cssload-two"></div>
              <div class="cssload-cog cssload-three"></div>
              <div class="cssload-cog cssload-four"></div>
              <div class="cssload-cog cssload-five"></div>
              <div class="cssload-center"></div>
            </div>

            <div class="cssload-cogWheel cssload-two">
              <div class="cssload-cog cssload-one"></div>
              <div class="cssload-cog cssload-two"></div>
              <div class="cssload-cog cssload-three"></div>
              <div class="cssload-cog cssload-four"></div>
              <div class="cssload-cog cssload-five"></div>
              <div class="cssload-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Confirm-->
<div class="modal fade" #confirmModal id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                data-dismiss="modal"
                aria-label="Close"
                type="button"
                (click)="cancelConfirmation()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="confirmModalLabel">{{confirmModalTitle}}</h4>
      </div>
      <div class="modal-body">{{confirmModalContent}}</div>
      <div class="modal-footer">
        <button class="btn btn-default"
                data-dismiss="modal"
                type="button"
                (click)="cancelConfirmation()">
          Отмена
        </button>
        <button class="btn btn-primary"
                data-dismiss="modal"
                type="button"
                (click)="acceptConfirmation()">
          {{confirmModalAccept}}
        </button>
      </div>
    </div>
  </div>
</div>
