app-user-edit,
app-point-edit,
app-edit-group {
  & > div {
    max-width: 600px;
  }
}

.modal {
  background: rgba(0, 0, 0, 0.3);
  .cssload-cssload-wrap2 {
    width: 194px;
    height: 194px;
    overflow: hidden;
    margin: 0 auto;
  }
  .cssload-wrap {
    position: absolute;
    width: 97px;
    height: 97px;
    left: 50%;
    top: 50%;
    margin-top: -49px;
    margin-left: -49px;
    transform: scale(2);
    .cssload-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 100;
      box-shadow: 0 0 24px 37px rgb(255, 255, 255) inset;
    }
    .cssload-cogWheel {
      position: absolute;
      top: 50%;
      margin-top: -24px;
      width: 49px;
      height: 49px;
      &.cssload-one {
        left: -6.25px;
        animation: cssload-rotLeft 1.15s infinite linear;
        .cssload-one:before {
          border: none;
        }
      }
      &.cssload-two {
        right: -6.25px;
        margin-top: -23px;
        transform: rotate(196deg);
        animation: cssload-rotRight 1.15s infinite linear;
        .cssload-one:before {
          border: none;
        }
      }
      .cssload-cog {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        &:after {
          display: block;
          position: absolute;
          content: ' ';
          border: 2px solid rgb(0, 0, 0);
          border-left: none;
          height: 9px;
          width: 5px;
          right: -9px;
          top: -4px;
        }
        &:before {
          display: block;
          position: absolute;
          content: ' ';
          border-left: 2px solid rgb(0, 0, 0);
          height: 10px;
          width: 4px;
          right: -6px;
          top: -13px;
          transform: rotate(-20deg);
        }
        &.cssload-one {
          transform: rotate(-80deg);
        }
        &.cssload-two {
          transform: rotate(-40deg);
        }
        &.cssload-three {
          transform: rotate(0deg);
        }
        &.cssload-four {
          transform: rotate(40deg);
        }
        &.cssload-five {
          transform: rotate(80deg);
        }
      }
    }
  }
}

@keyframes cssload-rotLeft {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes cssload-rotRight {
  from {
    transform: rotate(-174deg);
  }
  to {
    transform: rotate(-214deg);
  }
}
