<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <div class="panel panel-default" style="margin-left: 20px; margin-right: 20px">
        <div class="panel-heading">
          <h3 class="panel-title">Авторизация</h3>
        </div>
        <div class="panel-body">
          <form (ngSubmit)="onSubmit()" #checkoutForm="ngForm">
            <h5 *ngIf="error" class="form-group text-danger">{{error}}</h5>
            <div class="form-group">
              <label for="email">Логин</label>
              <input class="form-control"
                     id="email"
                     type="email"
                     name="email"
                     required
                     placeholder="Логин"
                     [(ngModel)]="model.email">
            </div>
            <div class="form-group">
              <label for="password">Пароль</label>
              <input class="form-control"
                     id="password"
                     type="password"
                     name="password"
                     required
                     placeholder="Пароль"
                     [(ngModel)]="model.password">
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
