<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th data-field="name">Наименование</th>
          <th data-field="room-number">Номер помещения</th>
          <th data-field="identifier">Идентификатор</th>
          <th data-field="status">Статус</th>
          <th data-field="check">Тип чека</th>
          <th data-field="currency">Валюта</th>
          <th data-field="actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let point of points">
          <td data-field="name">{{point.name}}</td>
          <td data-field="room-number">{{point.roomNumber}}</td>
          <td data-field="identifier">{{point.identifier}}</td>
          <td data-field="status">{{point.status | pointStatus}}</td>
          <td data-field="check">{{point.checkType | checkType}}</td>
          <td data-field="currency">{{point.currency | pointCurrency: 'name'}}</td>
          <td data-field="actions">
            <a class="btn btn-default" href="#" role="button" [routerLink]="['/points/edit', point.id]">Изменить</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12">
      <a class="btn btn-primary" [routerLink]="['/points/edit']">Создать объект</a>
    </div>
  </div>
</div>
