<td>{{report.date | date: 'EEEE'}}</td>
<td>{{report.date | date: 'yMd'}}</td>
<td>
  <input *ngIf="!report.isSaved"
         type="number"
         class="form-control"
         name="sum-{{i}}"
         placeholder="Сумма"
         appInputNumber
         required
         min="0.01"
         step="0.01"
         [(ngModel)]="report.sum"
         [disabled]="report.isValid || isDayAfterToday">
  <span *ngIf="report.isSaved">{{report.sum}}</span>
</td>
<td>
  <input *ngIf="!report.isSaved"
         type="number"
         class="form-control"
         name="count-{{i}}"
         placeholder="Количество чеков"
         appInputNumber
         required
         min="1"
         step="1"
         [(ngModel)]="report.count"
         [disabled]="report.isValid || isDayAfterToday">
  <span *ngIf="report.isSaved">{{report.count}}</span>
</td>
<td>
  <select *ngIf="!report.isSaved"
          id="status"
          class="form-control"
          name="status-{{i}}"
          title="Статус"
          [(ngModel)]="report.status"
          [disabled]="isDayAfterToday">
    <option value="-1" disabled selected>Выберите статус</option>
    <option *ngFor="let dayStatus of dayStatuses"
            [ngValue]="dayStatus">{{dayStatus | dayStatus}}
    </option>
  </select>
  <span *ngIf="report.isSaved">{{report.status | dayStatus}}</span>
</td>
<td>
  <button *ngIf="!report.isSaved"
          (click)="save.emit(report)"
          class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    Сохранить
  </button>
</td>
