<tr>
  <th class="text-center cursor-pointer" (click)="pointDigest.isOpen = !pointDigest.isOpen">
    {{pointDigest.point.name}}
  </th>
  <td *ngFor="let dayDigest of pointDigest.digests"
      class="text-center"
      [ngClass]="{
                'no-data': dayDigest.isStatusNoData && !pointDigest.point.isBlocked && compareDates(dayDigest.date, currentDate) <= 0,
                'sale': dayDigest.isStatusSale,
                'no-sale': dayDigest.isStatusNoSale,
                'closed': dayDigest.isStatusClosed,
                'blocked': dayDigest.isStatusNoData && pointDigest.point.isBlocked
              }">
    <a class="cell"
       *ngIf="compareDates(dayDigest.date, currentDate) <= 0 || (compareDates(dayDigest.date, currentDate) <= 0 && !pointDigest.point.isBlocked)"
       [routerLink]="[pointDigest.point | editorUri, dayDigest.timestamp]"
       (click)="changePoint(pointDigest.point)">
              <span
                *ngIf="!dayDigest.isStatusNoSale && !dayDigest.isStatusSale && !dayDigest.isStatusBlocked && !dayDigest.isStatusClosed && !pointDigest.point.isBlocked"
                class="glyphicon"
                [ngClass]="{
                      'glyphicon-edit': !dayDigest.closed,
                      'glyphicon-check': dayDigest.closed
                    }"
                aria-hidden="true"></span>
    </a>
  </td>
</tr>
<tr *ngIf="pointDigest.isOpen">
  <th></th>
  <td colspan="14">
    <ul>
      <li *ngFor="let dayDigest of pointDigest.digests">
        <a [routerLink]="[pointDigest.point | editorUri, dayDigest.timestamp]">
                <span class="glyphicon"
                      aria-hidden="true"
                      [ngClass]="{
                        'glyphicon-edit': !dayDigest.closed,
                        'glyphicon-check': dayDigest.closed
                      }"></span>
          {{dayDigest.date | date:'dd.MM'}}<span *ngIf="dayDigest.sum > 0">
                  -
                  <span [innerHTML]="pointDigest.point.currency | pointCurrency"></span>
                  {{dayDigest.sum}}
                </span>
        </a>
      </li>
    </ul>
  </td>
</tr>
