tr {
  th {
    padding: 3px 6px;
  }
  td {
    padding: 0;
    position: relative;
    a.cell {
      display: block;
      padding: 3px 0;
      color: #333;
    }
    &.no-sale,
    &.sale,
    &.closed,
    &.blocked {
      a.cell {
        height: 100%;
        padding: 0;
        display: block;
        width: 100%;
        position: absolute;
      }
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 15px;
  }
}

@import "../../../../../styles/day-status";
