<button
  type="button"
  class="btn btn-default btn-sm"
  data-toggle="modal"
  tooltip
  data-placement="top"
  title="Отчёт"
  data-target="#download-modal">
  <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
</button>

<div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="download-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="download-modal-label">Создание отчёта</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <label for="start-date">Начальная дата</label>
              <red-date-picker id="start-date" [(ngModel)]="startDate"></red-date-picker>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <label for="end-date">Конечная дата</label>
              <red-date-picker id="end-date" [(ngModel)]="endDate"></red-date-picker>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <label for="type">Формат отчёта</label>
              <select id="type"
                      class="form-control"
                      title="Формат отчёта"
                      name="type"
                      [(ngModel)]="type">
                <option *ngFor="let type of types"
                        [ngValue]="type">
                  {{type | saleType}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <label for="format">Формат файла отчёта</label>
              <select id="format"
                      class="form-control"
                      title="Формат файла отчёта"
                      name="format"
                      [(ngModel)]="format">
                <option *ngFor="let format of formatTypes"
                        [ngValue]="format">
                  {{format | salesFormatType}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <a [href]="link" target="_blank" class="btn btn-primary">Скачать</a>
        <a [href]="printLink" target="_blank" class="btn btn-primary">Печать</a>
      </div>
    </div>
  </div>
</div>
