<tr *ngIf="!sale.isSaved && write">
  <td class="till">
    <input class="form-control"
           type="text"
           name="till-{{id}}"
           title="Касса"
           [(ngModel)]="sale.till">
  </td>
  <td class="number">
    <input class="form-control"
           type="text"
           name="number-{{id}}"
           title="Номер"
           [(ngModel)]="sale.number">
  </td>
  <td class="time">
    <red-time-picker [(ngModel)]="sale.date"></red-time-picker>
  </td>
  <td class="sum">
    <input class="form-control"
           type="number"
           name="sum-{{id}}"
           title="Сумма"
           appInputNumber
           [(ngModel)]="sale.sum">
  </td>
  <td class="status">
    <select
      class="form-control"
      name="status-{{id}}"
      title="Статус"
      [(ngModel)]="sale.operationType">
      <option *ngFor="let operationType of operationTypes"
              [ngValue]="operationType">{{operationType | saleOperationType}}
      </option>
    </select>
  </td>
  <td class="actions">
    <span *ngIf="write && !dayClosed"
          class="glyphicon glyphicon-remove cursor-pointer"
          aria-hidden="true"
          (click)="deleteSale.emit()"></span>
  </td>
</tr>
<tr *ngIf="sale.isSaved">
  <td class="till">{{sale.till}}</td>
  <td class="number">{{sale.number}}</td>
  <td class="time">{{sale.date | date:'shortTime'}}</td>
  <td class="sum">{{sale.sum}} <span [innerHTML]="currency | pointCurrency"></span></td>
  <td class="status">{{sale.operationType | saleOperationType}}</td>
  <td class="actions">
        <span *ngIf="write && !dayClosed"
              class="glyphicon glyphicon-remove cursor-pointer"
              aria-hidden="true"
              (click)="deleteSale.emit()"></span>
  </td>
</tr>
